<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param><!-- ①从类路径下加载spring配置文件，classpath关键字指定类路径下加载 -->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- ②负责启动spring容器的监听器，将引用①中的配置文件 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet><!-- ①spring mvc的主控servlet -->
		<servlet-name>baobaotao</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping><!-- ②spring mvc处理url -->
		<servlet-name>baobaotao</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>
